numpy
pandas
scikit-learn
tensorflow==2.17.0
matplotlib
chromadb
fastapi
uvicorn
python-dotenv
requests
sentence-transformers
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-huggingface
langchain-pinecone
pinecone
pypdf
